{% extends '::admin.html.twig' %}
{% block body %}

    <p>Bienvenidos al panel de administración de MusicDB. Escoge una tarea del menú de la derecha
        para adminstrar el sistema.</p>

{% endblock %}